<div>
    <select ng-model="selectedColorEl">
        <option ng-repeat="item in graphicObjects | filter : { cxColor : true }"
                ng-value="item.id">{{item.id}}</option>
    </select>
    <input ng-change="changeColor()" ng-model="color.red" type="range" min="0" max="255">
    <input ng-change="changeColor()" ng-model="color.blue" type="range" min="0" max="255">
    <input ng-change="changeColor()" ng-model="color.green" type="range" min="0" max="255">
</div>
<div>
    <select ng-model="selectedOnOffEl">
        <option ng-repeat="item in graphicObjects | filter : { cxColor : true }"
                ng-value="item.id">{{item.id}}</option>
    </select>
    <button ng-click="switchOn(true)">ON</button>
    <button ng-click="switchOn(false)">OFF</button>
</div>
<div>
    <select ng-model="selectedMoveEl">
        <option ng-repeat="item in graphicObjects | filter : { cxMove : true }"
                ng-value="item.id">{{item.id}}</option>
    </select>
    <input ng-change="changePosition()" ng-model="position.x" type="range" min="-100" max="100" ng-dblclick="zeroPosition('x')">
    <input ng-change="changePosition()" ng-model="position.y" type="range" min="-100" max="100" ng-dblclick="zeroPosition('y')">
    <input ng-change="changePosition()" ng-model="position.deg" type="range" min="-180" max="180" ng-dblclick="zeroPosition('deg')">
</div>
<div>
    <select ng-model="selectedStatusEl">
        <option ng-repeat="item in graphicObjects | filter : { cxStatus : true }"
                ng-value="item.id">{{item.id}}</option>
    </select>
    <input type="text" ng-model="newStatus" ng-change="changeStatus()">
</div>

<div>
    <select ng-model="selectedHideEl">
        <option ng-repeat="item in graphicObjects | filter : { cxHide : true }"
                ng-value="item.id">{{item.id}}</option>
    </select>
    <button ng-click="hide(true)">HIDE</button>
    <button ng-click="hide(false)">SHOW</button>
</div>
<div>
    <p>Node-RED message:</p>
    <pre>{{msg}}</pre>
</div>

<ui-template></ui-template>

<script>
    // this is only for testing
    const scope = angular.element('ui-template').scope();
</script>
